html {
  box-sizing: border-box;
}
body {
  width: 1200px;
  height: 2079px;
  font-size: 0;
  margin: auto;
}
/* HEADER START */
header {
  padding: 77px 313px 104px 313px;
}
.nav {
  box-sizing: content-box;
}
.nav-list {
  padding: 0;
  margin: 0;
}
.nav li {
  list-style: none;
  display: inline-block;
}
.nav li:nth-child(1) {
  margin: 0 121px 0 0;
}
.nav li:nth-of-type(2) {
  margin: 0 103px 0 0;
}
.nav li:nth-of-type(3) {
  margin: 0 95px 0 0;
}
.nav li a {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav li a:hover {
  color: #03a9f4;
}
.nav li a:focus {
  color: #03a9f4;
}
/* HEADER FINISH */
/* MAIN START */
main {
  padding: 0 150px 0 150px;
}
.cards {
  display: inline-block;
  width: 420px;
}
.cards:nth-child(2n+1) {
  margin-right: 60px;
}
.cards-1-2 {
  margin-bottom: 132px;
}
.cards-3-4 {
  margin-bottom: 132px;
}
.cards-5-6 {
  margin-bottom: 54px;
}
.cards img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 0 32px 0;
}
.cards h4 {
  color: #b4ad9e;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}
.cards h2 {
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin:0 0 34px 0;
}
.cards p {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.cards-control {
  display: inline-block;
  margin: 0 529px 70px 507px;
  width: 164px;
  height: 60px;
}
.cards-control button {
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 19px 31px 20px 31px;
  text-align: center;
  background-color: inherit;
  border: 1px solid #626262;
}
/* MAIN FINISH */