
@media (min-width: 768px) {
  .header {
    background-image: url(image/img/bgi_tablet.png);
  }
  
  .header-nav {
    width: 740px;
  }
  .header-logo {
    margin-top: 24px;
    text-align: left;
  }
  .header-title {
    font-size: 52px;
  }
  .header-title-description {
    font-size: 24px;
  }
  .main,
  .header-title,
  .header-text {
    width: 550px;
  }
  .main-title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .cart {
    min-width: 220px;
  }
}
@media (min-width: 960px) {
  .header {
    background-image: url(image/img/bgi_desktop.png);
  }
  .header-nav,
  .header-text,
  .main {
    width: 940px;
  }
}