
@media (min-width: 768px) {
  .header {
    background-image: url(image/img/bgi_tablet.png);
  }
  
  .header-nav,
  .header-text,
  .main {
    max-width: 720px;
  }
  .header-nav {
    padding: 20px 20px 115px;
  }

  .header-title {
    font-size: 52px;
    max-width: 550px;
  }
  .header-title-description {
    font-size: 24px;
  }
  .main-title {
    font-size: 22px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url(image/img/bgi_desktop.png);
  }
  .header-nav,
  .header-text,
  .main {
    max-width: 960px;
  }
}