/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* GENERAL */

.container {
  width: 1210px;
  margin: 0 auto;
}
.section {
  text-align: center;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* HEADER */

.header {
  background-image:
    -webkit-gradient(linear, left bottom, left top, from(rgba(238, 214, 135, .8)), to(rgba(238, 137, 137, .8))),
    url(image/img/BG_img.jpg);
  background-image:
    -o-linear-gradient(bottom, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8)),
    url(image/img/BG_img.jpg);
  background-image:
    linear-gradient(to top, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8)),
    url(image/img/BG_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__wrapper {
  padding-top: 1.75rem;
  padding-bottom: 14.375rem;
}
.header-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 11.125rem;
}
.header__logo {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__nav,
.header__menu {
  padding: 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
  margin-left: auto;
}
.header__menu-item {
  margin-left: 1rem;
}
.header__menu-link {
  cursor: pointer;
  position: relative;
  padding-bottom: 1rem;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.header__menu-link:hover {
  color: #fce38a;
}
.header__menu-link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: #fce38a;
  bottom: 0;
  left: 50%;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.header__menu-link:hover::after {
  /* height: 3px; */
  width: 100%;
  left: 0;
}
.header__menu-link svg {
  fill: #ffffff;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.header__menu-link:hover svg {
  fill: #fce38a;
}
.header__suptitle {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
}
.header__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
}
.header__suptitle,
.header__title{
  text-align: center;
}
.header__button {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
}

/* MAIN */
.main {
  padding: .5714rem 0;
}
.main__suptitle {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
}
.main__title {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.main__title::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.main__text {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

/* SERVICES */

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__card {
  position: relative;
  width: 30%;
  text-align: left;
  padding-left: 70px;
  padding-bottom: 6.1875rem;
}

.card__icon--1::before {
  content: url(image/icon/ALARM.svg);
}
.card__icon--2::before {
  content: url(image/icon/LINE_GRAPH.svg);
}
.card__icon--3::before {
  content: url(image/icon/COMPUTER.svg);
}
.card__icon--4::before {
  content: url(image/icon/BOOK.svg);
}
.card__icon--5::before {
  content: url(image/icon/HOME.svg);
}
.card__icon--6::before {
  content: url(image/icon/IMAGE.svg);
}
[class*="card__icon--"]::before {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.services__card--title,
.team__card--name {
  color: #333333;
  margin: 0;
}

/* TEAM */

.team__text {
  padding-bottom: 5.75rem;
  width: 78.8%;
  margin: 0 auto;
}
.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5.125rem;
}
.team__card {
  position: relative;
  font-size: 0;
  width: 380px;
  cursor: pointer;
}
.team__wrapper-img {
  margin-bottom: 2rem;
  background-color: #95e1d3;
}
.team__wrapper-img>img {
position: relative;
top: 0;
left: 0;
-webkit-transition: all .7s ease;
-o-transition: all .7s ease;
transition: all .7s ease;
}
.team__card--name {
  padding-bottom: 1rem;
}
.team__card--profession {
  font-style: italic;
}
.team__menu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  height: 470px;
  padding: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(238, 214, 135, 0)), to(rgba(238, 137, 137, 0)));
  background: -o-linear-gradient(bottom, rgba(238, 214, 135, 0), rgba(238, 137, 137, 0));
  background: linear-gradient(to top, rgba(238, 214, 135, 0), rgba(238, 137, 137, 0));
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.team__card:hover .team__wrapper-img>img {
  top: -.8rem;
  left: -.8rem;
}
.team__card:hover .team__menu {
  top: -.8rem;
  left: -.8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(238, 214, 135, .8)), to(rgba(238, 137, 137, .8)));
  background: -o-linear-gradient(bottom, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8));
  background: linear-gradient(to top, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8));
}
.team__menu-item {
  width: 0;
  height: 0;
  line-height: 56px;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.team__card:hover .team__menu-item {
  width: 56px;
  height: 56px;
}
.team__menu-item:not(:last-of-type) {
  margin-right: .1rem;
}
.team__menu-item a {
  display: block;
  background-color: #fce38a;
  text-align: center;
}
.team__menu-item:hover a {
  background-color: #f38181;
}
.team__menu-item svg {
  width: 0;
  height: 0;
  vertical-align: middle;
  fill: #f38181;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.team__menu-item:hover svg {
  fill: #ffffff;
}
.team__card:hover .team__menu-item svg {
  width: 26px;
  height: 26px;
}

/* FOOTER */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .625rem 0;
  border-top: 1px solid #e5e5e5;
}
.footer__text {
  color: #333333;
  text-transform: none;
}
.footer__text>span {
  color: #f38181;
}
.footer__form {
  font-size: 0;
}
.footer__input {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  font-style: italic;
}
.footer__button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image:
    -webkit-gradient(linear, left bottom, left top, from(rgba(238, 214, 135, .8)), to(rgba(238, 137, 137, .8))),
    url(image/img/BG-img@2x.jpg);
    background-image:
    -o-linear-gradient(bottom, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8)),
    url(image/img/BG-img@2x.jpg);
    background-image:
    linear-gradient(to top, rgba(238, 214, 135, .8), rgba(238, 137, 137, .8)),
    url(image/img/BG-img@2x.jpg);
  }
  .card__icon--1::before {
    content: url(image/icon/ALARM@2x.svg);
  }
  .card__icon--2::before {
    content: url(image/icon/LINE_GRAPH@2x.svg);
  }
  .card__icon--3::before {
    content: url(image/icon/COMPUTER@2x.svg);
  }
  .card__icon--4::before {
    content: url(image/icon/BOOK@2x.svg);
  }
  .card__icon--5::before {
    content: url(image/icon/HOME@2x.svg);
  }
  .card__icon--6::before {
    content: url(image/icon/IMAGE@2x.svg);
  }
  [class*="card__icon--"]::before {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}