%flex {
  display: flex;
  align-items: center;
}

%title-accent {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 60px;
  height: 3px;
  background-color: $font-accent-color;
}

%button {
  display: block;
  margin: 0 auto;
  height: 40px;
}