// FONTS

$main-font: 'Montserrat';
$suptitle-font: 'Kaushan Script';
$text-font: 'Roboto';

// FONTS COLOR

$header-font-color: #fff;
$title-font-color: #333333;
$link-hover-color: #fce38a;
$font-accent-color: #f38181;
$text-color: #999999;

// BORDER COLOR

$border-color: #e7e7e7;

// BACKGROUND COLOR

$first-bg-color: #fff;
$second-bg-color: #95e1d3;;

// OVERLAY GRADIENT

$overlay-color-start: rgba(238, 214, 135, .8);
$overlay-color-end: rgba(238, 137, 137, .8);

$overlay-color-start--disabled: rgba(238, 214, 135, 0);
$overlay-color-end--disabled: rgba(238, 137, 137, 0);

// ICON & BUTTON & INPUT COLOR

$main-icon-color: #95e1d3;
$second-icon-color: #f38181;
